html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 170px;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  padding: 0;
}

ul {
  list-style: none;
}

img {
  vertical-align: top;
}

img {
  max-width: 100%;
  display: block;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-weight: inherit;
  font-size: inherit;
}

input,
button,
textarea,
select {
  font: inherit
}

.button {
  display: inline-block;
  appearance: none;
  border: 0;
  cursor: pointer;
}